html, body {
	margin: 0px;
	background-image: url(https://images.unsplash.com/photo-1613946576929-3cc54e1cb5ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
	background-size: cover;
	background-attachment: fixed;
}
 	
header h1{
	color: brown;
	margin: 10px;
	font-family: georgia;
	position: absolute;
	top: 10px;
}

header h3{
	color: white;
	background-color: sandybrown;
	position: relative;
	top: 10px;
	right: 10px;
	padding: 10px;
	margin right: 10px;
}

header button{
	text-align: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #502C05;
}

.navigation li {
	display: inline-block;
	padding-left: 0px;
	margin-left: 250px;

}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #835623;
}

.button{
	float: right;
	margin: 0px;
}
.gallery{
	background-color: #835623;
	padding-bottom: 20px;
	padding-top: 20px;
}
.gallery p{
	display: inline-block;
	padding-right: 35px;
  padding-left: 35px;
}

.first{
	color: white;
	position: absolute;
	top: 590px;
	left: 85px;
	text-align: center;
}

.second{
	color: white;
	position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.third{
	color: white;
	position: absolute;
	top: 590px;
	right: 140px;
	text-align: center;
}

.atrium{
	background-color: #502C05;
	padding-bottom: 20px;
	padding-top: 20px;
}
.atrium p{
	display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
}



.one{
	color: white;
	position: absolute;
	top: 1130px;
	left: 85px;
	text-align: center;
}

.two{
	color: white;
	position: absolute;
    top: 167%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.three{
	color: white;
	position: absolute;
	top: 1130px;
	right: 140px;
	text-align: center;
}

.table{
	font-family: serif;
  width: 100%;
  color: white;
  position: relative;
  left: 650px;
  border: 1px;
  
}
.bottomnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #835623;
}

.bottomnav li {
	display: inline-block;
	padding-left: 20px;
	margin-left: 190px;
}

.bottomnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.bottomnav li a:hover {
  background-color: #502C05;
}

table {
  border-spacing: 20px;
}

td,{
  border: 0px solid #80480C;
  text-align: left;
  padding: 8px;
  border-spacing: 20px
}
caption{
	text-align: center;
	color: #80480C;
	font-size: 20px;
}

tr:nth-child(even) {
  background-color: none;
  color: #835623;
  
}
tr:nth-child(odd) {
  background-color:none;
  color: #835623; 
  
}

footer{
	text-align: center;
}
footer p{
	color: whitesmoke;
	display: inline;
	padding: 50px;

}